# NOTE: Requires **VS2019 16.3** or later

# Microsoft All Rules
# Description: This rule set contains all rules. Running this rule set may result in a large number of warnings being reported. Use this rule set to get a comprehensive picture of all issues in your code. This can help you decide which of the more focused rule sets are most appropriate to run for your projects.

# Code files
[*.{cs,vb}]


# Default severity for analyzer diagnostics - Requires **VS2019 16.5** or later
dotnet_analyzer_diagnostic.severity = warning

dotnet_diagnostic.CA1707.severity = none

dotnet_diagnostic.SA1101.severity = none

dotnet_diagnostic.SA1200.severity = none

dotnet_diagnostic.SA1300.severity = none

dotnet_diagnostic.SA1500.severity = none

dotnet_diagnostic.SA1633.severity = none

# IDE0008: Use explicit type
csharp_style_var_elsewhere = false:none

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = false:none

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = false:none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none
